@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  top: 15px;
}
#header.header-scrolled {
  background: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  top: 0;
}

#header .navbar {
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
    justify-content: space-between;
  }
 #header .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  #header .navbar li {
    position: relative;
  }
 
  #header .navbar a, .navbar a:focus {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    color: white;
    transition: 0.3s;
    font-size: 13px;
    font-weight: 700;
    font-family:  "montserrat",sans-serif;
    white-space: nowrap;
  }
  #header .navbar a i, #header .navbar a:focus i {
    font-size: 10px;
    line-height: 0;
    padding-top: 6px;
  }
  #header .navbar .active, #header .navbar .active:focus, #header .navbar li:hover > a {
    color: red;
    font-weight: bold;
  }
  #header .navbar a:hover{
    color: black;
    background:white;
  }
   /*header page scrolling  */

   .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
    font-weight: 500;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: red;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }


  /*****dropdown style*****/

  #header .navbar .dropbtn {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 13px;
    border: none;
    font-weight: bold;
  }
  
  #header .navbar .dropdowns {
    position: relative;
    display: inline-block;
  }
  
  #header .navbar .dropdowns-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 140px;
    z-index: 1;
  }
  
  #header .navbar .dropdowns-content a {
    color:white;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  #header .navbar .dropdowns-content a:hover {background-color:black;}
  
  #header .navbar .dropdowns:hover .dropdowns-content {display: block;}
  #header .navbar .socials{
    margin-left: 6%;
    padding-top: 10px;
  }
  #header .navbar .socials li {
    display: inline-block;
    line-height: 10px;
    padding: 5px;

    }
    #header .navbar .socials li a {
    border-right: 1px solid white;
    color:white;
    padding:5px;
    }
    #header .navbar .socials i{
    font-size: 22px;
    }
    #header .navbar .socials li a:hover{
    color:black;
    } 

    
    
    /**
    * Mobile Navigation 
    */
    .mobile-nav-toggle {
      color: #fff;
      font-size: 28px;
      cursor: pointer;
      display: none;
      line-height: 0;
      transition: 0.5s;
    }
    
    @media (max-width: 991px) {
      .mobile-nav-toggle {
        display: block;
      }
    
      .navbar ul {
        display: none;
      }
    }
    .navbar-mobile {
      position: fixed;
      overflow: hidden;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(29, 28, 31, 0.9);
      transition: 0.3s;
      z-index: 999;
    }
    .navbar-mobile .mobile-nav-toggle {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    .navbar-mobile ul {
      display: block;
      position: absolute;
      top: 55px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      padding: 10px 0;
      background-color: black;
      overflow-y: auto;
      transition: 0.3s;
    }
    .navbar-mobile a, .navbar-mobile a:focus {
      padding: 10px 20px;
      font-size: 15px;
      color: #36343a;
    }
    .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
      color: red;
    }
    
    .navbar-mobile .dropdown ul {
      position: static;
      display: none;
      margin: 10px 20px;
      padding: 10px 0;
      z-index: 99;
      opacity: 1;
      visibility: visible;
      background: black;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }
    .navbar-mobile .dropdown ul li {
      min-width: 200px;
    }
    .navbar-mobile .dropdown ul a {
      padding: 10px 20px;
    }
    .navbar-mobile .dropdown ul a i {
      font-size: 12px;
    }
    .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
      color: red;
    }
    .navbar-mobile .dropdown > .dropdown-active {
      display: block;
    }

    #header .logos-align img{
      margin-left: 50PX;
      padding-top: 10%;
    }
    #header .word h6{
      font-size: 20px;
      font-weight:900;
  }
    #header .word p{
      font-size: 10px;
    }
   
#header .scrollbar {
  margin-top: 1%;
  width: 95%;
  height: 50px;
  border: 1px solid black;
  position: relative;
}
#header .scrollbar i{
  font-weight: 900;
  color: red;
}
#header .scrollbar span{
  color:black;
  font-weight: 900;
}
#header marquee {
  font-size: 15px;
  line-height: 50px;
}
#header .scrollbar::before{
  content: "BREAKING NEWS";
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  line-height: 50px;
  font-size: 18px;
  color: white;
  border: 1px solid red;
  width: 170px;
  height: 100%;
  background-color: red;
  text-align: center;
}
  #home{
    position: relative;
    display: inline-block;
  }
  #home .video-page{
    margin-left: 50px;
    padding-top: 13%
  }
  #home .video-page button{
    color: red;
    font-size: 20px;
  }
  .mySlides {
    display:none;
  }
 
  blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
    animation: 2s linear infinite condemned_blink_effect;
  }
  
  /* for Safari 4.0 - 8.0 */
  @-webkit-keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  .seithi img{
    width:90px;
    height:50px;
  }
  .seithi h5{
    font-size: 20px;
    font-weight: 900;
  }
  .seithi p{
    font-size: 12px;
    padding-left: 7px;
  }
.recent-news h5{
  font-size: 20px;
  font-weight: 900;
}
  .recent-news img{
    width:90px;
    height:50px;
  }
  .recent-news p{
    font-size:12px;
    padding-left: 5px;
  }

  .recent-head{
    margin-left: 5px;
    margin-top:5px;
   /* border: 1px solid #dbd8d7;*/
  }
  .recent-head img{
    width:90px;
    height:70px;
  }
  .recent-head h6{
    font-size: 20px;
    font-weight: 900;
  }
  .recent-head p{
    font-size:12px;
    padding-left: 5px;
  }
  .recent-head .img-content{
    padding: 3px;
  }
  .recent-head .img-content span,a,p{
    color: black;
  }
  * {
    box-sizing: border-box; 
} 

#tamilnadu .tamil {
  margin-left: 7%;
  border: 2px groove #f7f7f7;
  padding: 10px;
}
#tamilnadu .tamil-page img {
  width: 350px;

}
#tamilnadu .tamil-page h6 {
  padding-top: 15px;
  font-size: 15px;
  width: 350px;
  font-weight: 900;
}
#tamilnadu .tamil-page p{
  font-size: 13px;
  width: 350px;
}
#tamilnadu .tamil-content img {
  width: 300px;
  padding-left: 100px;
}
#tamilnadu .tamil-content p {
  font-size: 12px;
  padding-left: 100px;
  width: 300px;
  padding-top: 10px;
}
#tamilnadu .tamil-content1 img {
  width: 450px;
  padding-left: 280px;
}
#tamilnadu .tamil-content1 p {
  font-size: 13px;
  padding-left: 280px;
  width: 450px;
}
#tamilnadu .arasiyal {
  border: 2px groove #f7f7f7;
  padding: 10px;
}
#tamilnadu .arasiyal-page img {
  width: 350px;
}
#tamilnadu .arasiyal-page h6 {
  padding-top: 15px;
  font-size: 15px;
  width: 350px;
}
#tamilnadu .arasiyal-page p{
  font-size: 13px;
  width: 350px;
}
#tamilnadu .arasiyal-page h6{
  font-weight: 900;
}

#tamilnadu .arasiyal-content img {
  width: 300px;
  padding-left: 100px;
}

#tamilnadu .arasiyal-content p {
  font-size: 12px;
  padding-left: 100px;
  width: 300px;
  padding-top: 10px;
}
#tamilnadu .arasiyal-content1 img {
  width: 450px;
  padding-left: 280px;
}
#tamilnadu .arasiyal-content1 p{
  font-size: 13px;
  padding-left: 280px;
  width: 450px;
}
#cinema{
    margin-top: 5px;
    margin-left: 6%;
    
}
#cinema h6,i{
    padding-left: 20px;
    padding-top: 15px;
    font-weight: 800;
    font-size: 20px;
}
#cinema .cinema-page1{
    padding-left: 40px;
    border-left: 1px groove #f7f7f7;
    border-right: 1px groove #f7f7f7;
}
#cinema .cinema-page1 img{
    width: 400px;
    height:200px;
}
#cinema .cinema-page1 p{
    font-size: 12px;
    padding-top: 10px;
}
#cinema .cinema-page2{
    border-right: 1px groove #f7f7f7;
}
#cinema .cinema-page2 img{
    width: 100px;
    height:100px;
}
#cinema .cinema-page2 p{
    font-size: 12px;
    padding-left: 10px;
}

#cinema .cinema-page3{
    border-right: 1px groove #f7f7f7;
}
#cinema .cinema-page3 img{
    width: 100px;
    height:100px;
}
#cinema .cinema-page3 p{
    font-size: 12px;
    padding-left: 10px;
}
#cinema .cinema-page4{
  border-right: 1px groove #f7f7f7;
}
#cinema .cinema-page4 p{
  font-size: 12px;
  padding-top: 10px;
}

#allnews{
  margin-left: 7%;
  margin-top:50px;
}
#allnews .game{
  border-left: 1px groove #f7f7f7;
  border-right: 1px groove #f7f7f7;
}
#allnews .game img{
  width:380px;
  height:220px;
  padding:5px;
  align-items: center;
}
#allnews .game h6,i{
  font-size: 20px;
  padding: 15px;
  font-weight: 800;
}
#allnews .game p{
  font-size: 13px;
  padding-top: 10px;
}
#allnews .india{
  border-right: 1px groove #f7f7f7;
}
#allnews .india img{
  width:250px;
  height:150px;
  align-items: center;
}
#allnews .india h6,i{
  font-size: 20px;
  padding: 15px;
  font-weight: 800;
  
}
#allnews .india p{
  font-size: 13px;
  padding-top: 10px;
}
#allnews .cini{
  border-right: 1px groove #f7f7f7;
}
#allnews .cini img{
  width:250px;
  height:150px;
  padding: 5px;
  align-items: center;
}
#allnews .cini h6,i{
  font-size: 20px;
  padding: 15px;
  font-weight: 800;
}
#allnews .cini p{
  font-size: 13px;
  padding-top: 10px;
}
#allnews .kalvi {
  border-right: 1px groove #f7f7f7;
}
#allnews .kalvi img{
  width:450px;
  height:300px;
  padding: 5px;
  align-items: center;
}
#allnews .kalvi h6,i{
  font-size: 20px;
  padding: 15px;
  font-weight: 800;
}
#allnews .kalvi p{
  font-size: 13px;
  padding-top: 10px;
}

#footer {
  color: white;
  font-size: 14px;
  background: black;
}
#footer img{
  width: 200px;
  height: 200px;
  padding: 30px;
  margin-left: 30px;

}
#footer h3{
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
#footer p{
  color:white;
  padding:5px;
}
#footer span{
  color: red;
  font-size: 24px;
}
#footer .social-link{
  padding-top: 12px;
  color:white;
  padding:5px;
}
#footer .social-link a{
  color: black;
  font-size: 30px;
  padding:5px;
  background:white;
}
#footer .social-link h3{
  margin-left: 18%;
}
#footer .footer-contact h5{
  font-size: 15px;
  margin-left: 80%;
}
#footer .footer-contact img{
  width: 150px;
  height: 150px;
}
